NEXT_PUBLIC_SITE_URL=https://khcpqa.vercel.app
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_DEFAULT_LOCALE=ko
NEXT_PUBLIC_SUPPORTED_LOCALES=ko,en,es
GA_MEASUREMENT_ID=
GOOGLE_SITE_VERIFICATION=
NAVER_SITE_VERIFICATION=
